{% extends 'base.html' %}

{% block content %}
{% if error %}
    <h1>Error 404: {{ userProfile }} no encontrado</h1>
{% else %}
    <p><strong>Usuario:</strong> {{ userProfile.username }}</p>
    <p><strong>Nombre:</strong> {{ userProfile.first_name }}</p>
    <p><strong>Apellido:</strong> {{ userProfile.last_name }}</p>
    <p><strong>Email:</strong> {{ userProfile.email }}</p>
    <p><strong>Biografía:</strong> {{ userProfile.profile.biography }}</p>
    <p><strong>Fecha de nacimiento:</strong> <small>{{ userProfile.profile.birthDate|date:"d/m/Y" }}</small></p>

    {% if user.is_authenticated and user == userProfile%}

        <button href="editProfile">editar</button>
        
        {% include "maullidoCreate.html"%}
        
    {% endif%}

    {% include "maullidos.html" %}
{% endif %}
{% endblock %}